body{
    font-family: "Cormorant Garamond", serif;
}
.about{
    width:80%;
    margin:auto;
    padding:80px 0;
}

.about-title{
    text-align:center;
    margin-bottom:80px;
}
.top h1{
    position: relative;
    left:450px;
    bottom:40px;

}
.top p{
    position: relative;
    /* left:100px; */
    font-size: 20px;
     text-align: center;
  font-size: 20px;
  line-height: 1.8;
  color: #8d8d8d;
  font-weight: 200px;
  letter-spacing: 0.5px;
  top:-30px;
}

.about-title h1{
    font-size:58px;
    font-weight:300;
    letter-spacing:4px;
    margin-bottom:25px;
    /* position: relative; */
    /* left:80px; */
}

.about-title p{
    width:70%;
    margin:auto;
    color:#777;
    line-height:32px;
    font-size:18px;
}

/* ---------- Timeline ---------- */

.timeline{

    display:grid;
    grid-template-columns:1fr 80px 1fr;
    row-gap:80px;
    position:relative;
    
    
}


/* Vertical line */

.timeline::before{

    content:"";
    position:absolute;

    left:50%;
    top:0;
    bottom:0;

    width:2px;
    background:#c8a26a;

    transform:translateX(-50%);
}

.left,
.right{

    display:flex;
    justify-content:center;
    align-items:center;
}

.left img,
.right img{

    width:100px;
    height:100px;
    object-fit:cover;
}
.boxone img{
    height:300px;
    width:350px;
    position: relative;
    top:20px;
    left:120px;
}
.boxtwo img{
    height:300px;
    width:350px;
    position: relative;
    top:50px;
    left:40px;
}
.box-text h2{
    position: relative;
    left:200px;
    top:70px;
    font-size: 40px;
}
.boxtext h2{
    position: relative;
    top:80px;
    font-size: 40px;
    left:40px;
}
.boxtext p{
    position: relative;
    top:100px;
    font-size: 20px;
    width: 420px;
  /* margin: 0 auto; */
  /* text-align: center; */
  line-height: 1.8;
left:40px;
}
.box-text p{
    position: relative;
    left:40px;
    top:90px;
    font-size: 20px;
    width: 420px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8;

}

.middle{

    display:flex;
    justify-content:center;
    position:relative;
}
.line span{
    position: relative;
    top:100px;
}

.circle{

    width:18px;
    height:18px;

    border:2px solid #c8a26a;
    border-radius:50%;
    background:white;

    margin-top:15px;
    z-index:10;
    position: relative;
}

.text{

    padding:20px 40px;
}

.left.text{

    text-align:right;
}

.right.text{

    text-align:left;
}

.text h2{

    font-size:42px;
    font-weight:300;
    letter-spacing:3px;
    margin-bottom:25px;
}

.text p{

    color:#777;
    line-height:34px;
    font-size:18px;
}

/* Mobile */

@media(max-width:768px){

.timeline{

    grid-template-columns:1fr;
}

.timeline::before{

    display:none;
}

.middle{

    display:none;
}

.left,
.right{

    margin-bottom:30px;
}

.left img,
.right img{

    width:100%;
    height:auto;
}

.left.text,
.right.text{

    text-align:center;
}

.about-title p{

    width:100%;
}

.about-title h1{

    font-size:40px;
}

}